$primary-color: #0d163a;
$secondary-color: rgb(102, 112, 133);
$hover-color: #34495e;
$page-background: #f4f4f4;
$content-background: #fff;
$border-color: rgba(13, 22, 58, 0.2);
$image-background: #d9d9d9;
$sidebar-width: 280px;
$sidebar-width-collapsed: 80px;
$detail-text: rgba(255, 255, 255, 0.6);
$card-bg: #4745a4;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    flex-direction: row;
}

//sidebar

.sidebar {
    width: $sidebar-width;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    background-color: $content-background;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: all 0.3s ease;
    box-sizing: border-box;

    .sidebar-header {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 20px;

        .logo {
            display: flex;
            justify-content: center;
            background-color: $image-background;
            width: 178px;
            height: 52px;
            transition: all 0.3s ease;

            img {
                text-align: center;
                width: 36px;
                height: 36px;
                display: block;
                padding: 10px 20px;
            }
        }
    }

    .sidebar-nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .sidebar-links {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;

            a {
                text-decoration: none;
                cursor: pointer;

                li {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    color: $secondary-color;
                    padding: 10px 45px;
                    transition: all 0.3s;

                    &:hover {
                        background: $hover-color;
                        color: $page-background;
                        border-radius: 5px;
                    }

                    .dashboard img {
                        width: 24px;
                        height: 24px;
                    }

                    .material-symbols-rounded {
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            &:first-of-type a:first-child li:first-child {
                box-sizing: border-box;
                border-left: 5px solid $card-bg;
                color: $primary-color;

                &:hover {
                    color: $content-background;
                }
            }

            &:last-child {
                margin-top: auto;
            }
        }

        hr {
            border: 1px solid $border-color;
            margin: 15px 25px;
        }
    }

    @media (min-width: 769px) and (max-width: 1200px) {
        width: $sidebar-width-collapsed;
        align-items: center;
        padding: 20px 0;

        .sidebar-header {
            .logo {
                width: 48px;
                border-radius: 50%;
            }
        }

        .sidebar-links a li {
            justify-content: center;
            padding: 10px 0 !important;

            .link-text {
                display: none;
            }
        }

        hr {
            margin: 15px 10px !important;
        }
    }

    @media (max-width: 768px) {
        transform: translateX(-100%);
        width: 100%;
        max-width: 300px;

        &.active {
            transform: translateX(0);
        }

        &.active {
            width: 80%;
            max-width: 300px;

            .sidebar-header .logo {
                width: 178px;

                img {
                    padding: 10px 20px;
                }
            }

            .sidebar-links a li {
                justify-content: flex-start;
                padding: 10px 45px !important;
            }

            hr {
                margin: 15px 25px !important;
            }
        }
    }
}

.hamburger {
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 15px;
    z-index: 101;
    display: none;
    background-color: $hover-color;
    border-radius: 5px;
    padding: 5px;
    transition: left 0.3s ease;

    #hamburger-icon {
        display: block;
        font-size: 24px;
    }

    @media (max-width: 768px) {
        display: block;

        .sidebar.active & {
            left: calc(80% + 15px);
        }
    }
}

// main section

.main-container {
    width: calc(100% - $sidebar-width);
    margin-left: $sidebar-width;
    flex: 1;
    padding: 30px;
    transition: margin-left 0.3s ease;

    @media (min-width: 769px) and (max-width: 1200px) {
        margin-left: $sidebar-width-collapsed;
        width: 100%;
        padding: 20px;

    }

    @media (max-width: 768px) {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
        padding: 10px;
    }

    .top-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        @media (min-width: 769px) and (max-width: 1200px) {
            gap: 20px;
        }

        @media (max-width: 768px) {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            gap: 10px;
            margin-top: -10px;
        }

        .search-bar {
            width: 717px;
            max-height: 64px;
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 13px 20px;
            background-color: $content-background;
            border-radius: 100px;
            box-sizing: border-box;

            @media (min-width: 769px) and (max-width: 1200px) {
                width: 100%;
                padding: 8px 13px;
            }

            @media (max-width: 768px) {
                width: 100%;
                max-height: 48px;
                order: 2;
            }

            input {
                border: none;
                outline: none;
                width: 93%;
                height: 48px;
                background: transparent;
                font-size: 1rem;

            }
        }

        .action-bar {
            width: 100%;
            max-width: 405px;
            max-height: 64px;
            background-color: $content-background;
            border-radius: 100px;
            display: flex;
            align-items: center;
            padding: 8px;
            gap: 10px;
            box-sizing: border-box;


            @media (min-width: 769px) and (max-width: 1200px) {
                width: fit-content;

                .profile-container .username {
                    display: none;
                }
            }

            @media (max-width: 768px) {
                width: fit-content;
                height: 48px;
                margin: 0 auto;

            }

            @media (max-width: 576px) {
                width: fit-content;
                margin: 0 auto;

                .profile-container .username{
                    display: none;
                }
            }

            .icon {
                width: 66px;
                height: 48px;
                border: 1px solid $border-color;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: $hover-color;
                    color: $page-background;
                }

                @media (min-width: 769px) and (max-width: 1200px) {
                    width: 56px;
                    height: 40px;
                }

                @media (max-width: 768px) {
                    width: 48px;
                    height: 36px;
                }
            }

            .profile-container {
                display: flex;
                align-items: center;
                gap: 20px;

                .image {
                    width: 48px;
                    height: 48px;
                    background-color: $image-background;
                    border-radius: 50%;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media (min-width: 769px) and (max-width: 1200px) {
                        width: 40px;
                        height: 40px;
                    }

                    @media (max-width: 768px) {
                        width: 36px;
                        height: 36px;
                    }

                    img {
                        width: 24px;
                        height: 24px;
                        object-fit: cover;
                    }
                }

                .dropdown {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 5px;
                    padding: 8px;
                    box-sizing: border-box;
                    cursor: pointer;
                    position: relative;

                    .dropdown-content {
                        display: none;
                        position: absolute;
                        width: 90%;
                        top: 100%;
                        left: 10px;
                        border: 1px solid $border-color;
                        border-radius: 5px;
                        background-color: white;
                        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
                        min-width: 120px;
                        z-index: 100;
                        box-sizing: border-box;

                        a {
                            text-decoration: none;
                            color: $primary-color;
                            padding: 5px 15px;
                            border-bottom: 1px solid $border-color;
                            display: block;
                            transition: background-color 0.3s ease;

                            &:last-child {
                                border: none;
                            }

                            &:hover {
                                background-color: $hover-color;
                                color: $page-background;
                            }
                        }

                        @media (max-width: 1200px) {
                            left: -10px;
                        }

                        &.show {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .middle-section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        @media (max-width: 1200px) {
            flex-direction: column;
            gap: 30px;
        }

        .overview {
            width: 100%;
            max-width: 717px;
            display: flex;
            flex-direction: column;
            background-color: $content-background;
            border-radius: 14px;
            padding: 16px;
            box-sizing: border-box;

            @media (min-width: 769px) and (max-width: 1200px) {
                max-width: 100%;
            }

            @media (max-width: 768px) {
                max-width: 100%;
                padding: 12px;
            }

            .overview-label {
                display: inline-block;
                font-size: 1.25rem;
                font-weight: 700;
                margin-bottom: 20px;
            }

            .cards {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 18px;
                max-height: 100%;

                @media (max-width: 768px) {
                    grid-template-columns: 1fr;
                    gap: 16px;
                }

                .card-item {
                    min-height: 165px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 20px;
                    box-sizing: border-box;
                    border: 1px solid $border-color;
                    border-radius: 14px;

                    &:nth-child(1) {
                        background-color: $card-bg;
                        border-radius: 14px;
                        border: none;

                        .top .wallet-container {
                            border: 1px solid rgba(222, 222, 222, 0.2);
                        }

                        hr {
                            border: 1px solid rgba(255, 255, 255, 0.2);
                            margin: 10px 0;
                        }

                        .balance-label,
                        .amount {
                            color: $content-background;
                        }

                        .material-symbols-rounded.forward {
                            color: $content-background;
                        }

                        .material-symbols-rounded.right-outward-arrow {
                            color: #31d3a3;
                            background-color: rgba(49, 211, 163, 0.4);
                        }

                        .detail-text {
                            font-size: 0.75rem;
                            color: $detail-text;
                        }
                    }

                    &:nth-child(2) {
                        .material-symbols-rounded.bookmarks {
                            color: #3bbb6e;
                        }

                        .material-symbols-rounded.right-outward-arrow {
                            color: #fe3766;
                            background-color: rgba(254, 55, 102, 0.4);
                        }
                    }

                    &:nth-child(3) {
                        .material-symbols-rounded.right-outward-arrow {
                            color: #f9ba33;
                            background-color: rgba(249, 186, 51, 0.4);
                        }
                    }

                    &:nth-child(4) {
                        .material-symbols-rounded.right-outward-arrow {
                            color: #1775e4;
                            background-color: rgba(23, 117, 228, 0.4);
                        }
                    }

                    .balance-label,
                    .amount {
                        color: $primary-color;
                        font-weight: 500;
                    }

                    .top {
                        display: flex;
                        align-items: center;
                        gap: 9px;

                        .wallet-container {
                            width: 48px;
                            height: 48px;
                            border-radius: 50%;
                            border: 1px solid $border-color;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .material-symbols-rounded.wallet {
                                font-size: 2rem;
                                color: $content-background;
                            }
                        }

                        .card-description {
                            display: flex;
                            flex-direction: column;
                            gap: 9px;

                            .balance-label {
                                font-size: 1.125rem;
                            }

                            .details {
                                display: flex;
                                align-items: center;
                                gap: 4px;

                                .material-symbols-rounded.right-outward-arrow {
                                    border-radius: 3px;
                                    font-size: 0.8rem;
                                    padding: 1px;
                                }

                                .detail-text {
                                    font-size: 0.75rem;
                                }
                            }
                        }
                    }

                    hr {
                        border: 1px solid $border-color;
                        margin: 10px 0;
                    }

                    .bottom {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .amount {
                            font-size: 1.75rem;
                        }
                    }
                }
            }
        }

        .saving-plan {
            width: 100%;
            max-width: 405px;
            padding: 16px;
            background-color: $content-background;
            border-radius: 14px;
            box-sizing: border-box;

            @media (max-width: 1200px) {
                max-width: 100%;
            }

            @media (max-width: 768px) {
                max-width: 100%;
            }


            .plan-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .plan-label {
                    color: $primary-color;
                    font-size: 1.25rem;
                    font-weight: bold;
                }

                .see-all {
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 500;
                    color: #4745a4;
                }
            }

            hr {
                border: 1px solid $border-color;
                margin: 24px 0;
            }

            .plan-cards {
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                gap: 16px;

                .plans {
                    display: flex;
                    flex-direction: column;
                    gap: 14px;

                    &:nth-child(1) {
                        .percentage {
                            color: #4745a4;
                            font-weight: 600;
                        }

                        #percentage {
                            height: 8px;
                            accent-color: #4745a4;
                        }
                    }

                    &:nth-child(2) {
                        .percentage {
                            color: #dd9802;
                            font-weight: 600;
                        }

                        #percentage {
                            height: 8px;
                            accent-color: #dd9802;
                            background: none;
                        }
                    }

                    &:nth-child(3) {
                        .percentage {
                            color: #3bbb6e;
                            font-weight: 600;
                        }

                        #percentage {
                            height: 8px;
                            accent-color: #3bbb6e;
                            background: none;
                        }
                    }

                    .plan-name {
                        display: flex;
                        justify-content: space-between;

                        .plan-name-label {
                            color: $primary-color;
                            font-size: 1rem;
                        }

                        .target {
                            color: $secondary-color;
                            font-size: 0.75rem;
                        }
                    }

                    .plan-amount {
                        display: flex;
                        justify-content: space-between;

                        .amount {
                            color: $primary-color;
                            font-size: 1.25rem;
                            font-weight: 600;

                            .divider {
                                color: $secondary-color;
                                font-size: 0.75rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .bottom-section {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1200px) {
            flex-direction: column;
            gap: 30px;
        }

        .chart-wrapper {
            width: 100%;
            max-width: 717px;
            background-color: $content-background;
            border-radius: 14px;
            padding: 16px;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            @media (max-width: 1200px) {
                max-width: 100%;
            }

            @media (max-width: 576px) {
                height: auto;
                padding: 16px 10px;
            }

            .chart-header {
                width: 655px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;

                @media (max-width: 768px) {
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 15px;
                }
            }

            .chart-title {
                font-size: 18px;
                font-weight: bold;
                color: #333;
            }

            .chart-legend {
                display: flex;
                align-items: center;
                gap: 32px;
                font-size: 14px;
                color: #666;

                @media (max-width: 768px) {
                    width: 100%;
                    justify-content: space-between;
                    gap: 15px;
                    flex-wrap: wrap;
                }

                .legend-label {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    .label {
                        color: $primary-color;
                        font-weight: 500;
                    }

                    &:nth-child(1) {
                        .legend-color {
                            background-color: #4e73df;
                        }
                    }

                    &:nth-child(2) {
                        .legend-color {
                            background-color: #f9ba33;
                        }
                    }

                    .legend-color {
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        margin-right: 5px;
                    }
                }

                .chart-period {
                    border: 1px solid $border-color;
                    padding: 8px;
                    border-radius: 8px;

                    & select {
                        border: none;
                        background: none;
                        outline: none;
                        color: $secondary-color;
                        font-weight: 400;
                        cursor: pointer;
                    }
                }
            }

            .chart-container {
                width: 100%;
                flex: 1;
                min-height: 0;
                position: relative;
                box-sizing: border-box;

                canvas {
                    max-width: 100% !important;
                }
            }
        }

        .transaction-container {
            width: 100%;
            max-width: 405px;
            padding: 16px;
            background-color: $content-background;
            border-radius: 14px;
            box-sizing: border-box;

            @media (max-width: 1200px) {
                max-width: 100%;
            }

            .transaction-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .transaction-label {
                    color: $primary-color;
                    font-size: 1.25rem;
                    font-weight: bold;
                }

                .see-all {
                    text-decoration: none;
                    font-size: 1rem;
                    font-weight: 500;
                    color: #4745a4;
                }
            }

            hr {
                border: 1px solid $border-color;
                margin: 24px 0;
            }

            .transaction-cards {
                display: grid;
                grid-template-rows: repeat(4, 1fr);
                gap: 25px;

                @media (max-width: 768px) {
                    grid-template-rows: 1fr;
                }

                .transactions {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 14px;

                    @media (max-width: 576px) {
                        gap: 8px;
                    }

                    .image {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        background-color: $image-background;
                        flex-shrink: 0;

                        img {
                            width: 24px;
                            height: 24px;
                            object-fit: cover;
                        }

                    }

                    .transaction-details {
                        width: 90%;
                        display: flex;
                        justify-content: space-between;

                        @media (max-width: 576px) {
                            width: 100%;
                            gap: 5px;
                        }

                        .transaction-name-amount {
                            color: $primary-color;
                            font-size: 1.125rem;
                            font-weight: 600;
                        }

                        .transaction-name {
                            display: flex;
                            flex-direction: column;
                            gap: 4px;

                            .date {
                                color: $secondary-color;
                                font-size: 0.75rem;
                                font-weight: 600;
                            }
                        }
                    }

                    .transaction-amount-status {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 4px;
                    }
                }
            }
        }
    }
}