@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
* {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 280px;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  background-color: #fff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s ease;
  box-sizing: border-box;
}
.sidebar .sidebar-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.sidebar .sidebar-header .logo {
  display: flex;
  justify-content: center;
  background-color: #d9d9d9;
  width: 178px;
  height: 52px;
  transition: all 0.3s ease;
}
.sidebar .sidebar-header .logo img {
  text-align: center;
  width: 36px;
  height: 36px;
  display: block;
  padding: 10px 20px;
}
.sidebar .sidebar-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.sidebar .sidebar-nav .sidebar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sidebar .sidebar-nav .sidebar-links a {
  text-decoration: none;
  cursor: pointer;
}
.sidebar .sidebar-nav .sidebar-links a li {
  display: flex;
  align-items: center;
  gap: 15px;
  color: rgb(102, 112, 133);
  padding: 10px 45px;
  transition: all 0.3s;
}
.sidebar .sidebar-nav .sidebar-links a li:hover {
  background: #34495e;
  color: #f4f4f4;
  border-radius: 5px;
}
.sidebar .sidebar-nav .sidebar-links a li .dashboard img {
  width: 24px;
  height: 24px;
}
.sidebar .sidebar-nav .sidebar-links a li .material-symbols-rounded {
  width: 24px;
  height: 24px;
}
.sidebar .sidebar-nav .sidebar-links:first-of-type a:first-child li:first-child {
  box-sizing: border-box;
  border-left: 5px solid #4745a4;
  color: #0d163a;
}
.sidebar .sidebar-nav .sidebar-links:first-of-type a:first-child li:first-child:hover {
  color: #fff;
}
.sidebar .sidebar-nav .sidebar-links:last-child {
  margin-top: auto;
}
.sidebar .sidebar-nav hr {
  border: 1px solid rgba(13, 22, 58, 0.2);
  margin: 15px 25px;
}
@media (min-width: 769px) and (max-width: 1200px) {
  .sidebar {
    width: 80px;
    align-items: center;
    padding: 20px 0;
  }
  .sidebar .sidebar-header .logo {
    width: 48px;
    border-radius: 50%;
  }
  .sidebar .sidebar-links a li {
    justify-content: center;
    padding: 10px 0 !important;
  }
  .sidebar .sidebar-links a li .link-text {
    display: none;
  }
  .sidebar hr {
    margin: 15px 10px !important;
  }
}
@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    width: 100%;
    max-width: 300px;
  }
  .sidebar.active {
    transform: translateX(0);
  }
  .sidebar.active {
    width: 80%;
    max-width: 300px;
  }
  .sidebar.active .sidebar-header .logo {
    width: 178px;
  }
  .sidebar.active .sidebar-header .logo img {
    padding: 10px 20px;
  }
  .sidebar.active .sidebar-links a li {
    justify-content: flex-start;
    padding: 10px 45px !important;
  }
  .sidebar.active hr {
    margin: 15px 25px !important;
  }
}

.hamburger {
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 15px;
  z-index: 101;
  display: none;
  background-color: #34495e;
  border-radius: 5px;
  padding: 5px;
  transition: left 0.3s ease;
}
.hamburger #hamburger-icon {
  display: block;
  font-size: 24px;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .sidebar.active .hamburger {
    left: calc(80% + 15px);
  }
}

.main-container {
  width: calc(100% - 280px);
  margin-left: 280px;
  flex: 1;
  padding: 30px;
  transition: margin-left 0.3s ease;
}
@media (min-width: 769px) and (max-width: 1200px) {
  .main-container {
    margin-left: 80px;
    width: 100%;
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .main-container {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    padding: 10px;
  }
}
.main-container .top-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media (min-width: 769px) and (max-width: 1200px) {
  .main-container .top-section {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .main-container .top-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: -10px;
  }
}
.main-container .top-section .search-bar {
  width: 717px;
  max-height: 64px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  background-color: #fff;
  border-radius: 100px;
  box-sizing: border-box;
}
@media (min-width: 769px) and (max-width: 1200px) {
  .main-container .top-section .search-bar {
    width: 100%;
    padding: 8px 13px;
  }
}
@media (max-width: 768px) {
  .main-container .top-section .search-bar {
    width: 100%;
    max-height: 48px;
    order: 2;
  }
}
.main-container .top-section .search-bar input {
  border: none;
  outline: none;
  width: 93%;
  height: 48px;
  background: transparent;
  font-size: 1rem;
}
.main-container .top-section .action-bar {
  width: 100%;
  max-width: 405px;
  max-height: 64px;
  background-color: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 10px;
  box-sizing: border-box;
}
@media (min-width: 769px) and (max-width: 1200px) {
  .main-container .top-section .action-bar {
    width: -moz-fit-content;
    width: fit-content;
  }
  .main-container .top-section .action-bar .profile-container .username {
    display: none;
  }
}
@media (max-width: 768px) {
  .main-container .top-section .action-bar {
    width: -moz-fit-content;
    width: fit-content;
    height: 48px;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .main-container .top-section .action-bar {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }
  .main-container .top-section .action-bar .profile-container .username {
    display: none;
  }
}
.main-container .top-section .action-bar .icon {
  width: 66px;
  height: 48px;
  border: 1px solid rgba(13, 22, 58, 0.2);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.main-container .top-section .action-bar .icon:hover {
  background-color: #34495e;
  color: #f4f4f4;
}
@media (min-width: 769px) and (max-width: 1200px) {
  .main-container .top-section .action-bar .icon {
    width: 56px;
    height: 40px;
  }
}
@media (max-width: 768px) {
  .main-container .top-section .action-bar .icon {
    width: 48px;
    height: 36px;
  }
}
.main-container .top-section .action-bar .profile-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.main-container .top-section .action-bar .profile-container .image {
  width: 48px;
  height: 48px;
  background-color: #d9d9d9;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 769px) and (max-width: 1200px) {
  .main-container .top-section .action-bar .profile-container .image {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 768px) {
  .main-container .top-section .action-bar .profile-container .image {
    width: 36px;
    height: 36px;
  }
}
.main-container .top-section .action-bar .profile-container .image img {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-container .top-section .action-bar .profile-container .dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.main-container .top-section .action-bar .profile-container .dropdown .dropdown-content {
  display: none;
  position: absolute;
  width: 90%;
  top: 100%;
  left: 10px;
  border: 1px solid rgba(13, 22, 58, 0.2);
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 120px;
  z-index: 100;
  box-sizing: border-box;
}
.main-container .top-section .action-bar .profile-container .dropdown .dropdown-content a {
  text-decoration: none;
  color: #0d163a;
  padding: 5px 15px;
  border-bottom: 1px solid rgba(13, 22, 58, 0.2);
  display: block;
  transition: background-color 0.3s ease;
}
.main-container .top-section .action-bar .profile-container .dropdown .dropdown-content a:last-child {
  border: none;
}
.main-container .top-section .action-bar .profile-container .dropdown .dropdown-content a:hover {
  background-color: #34495e;
  color: #f4f4f4;
}
@media (max-width: 1200px) {
  .main-container .top-section .action-bar .profile-container .dropdown .dropdown-content {
    left: -10px;
  }
}
.main-container .top-section .action-bar .profile-container .dropdown .dropdown-content.show {
  display: block;
}
.main-container .middle-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .main-container .middle-section {
    flex-direction: column;
    gap: 30px;
  }
}
.main-container .middle-section .overview {
  width: 100%;
  max-width: 717px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 14px;
  padding: 16px;
  box-sizing: border-box;
}
@media (min-width: 769px) and (max-width: 1200px) {
  .main-container .middle-section .overview {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .main-container .middle-section .overview {
    max-width: 100%;
    padding: 12px;
  }
}
.main-container .middle-section .overview .overview-label {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.main-container .middle-section .overview .cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  max-height: 100%;
}
@media (max-width: 768px) {
  .main-container .middle-section .overview .cards {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
.main-container .middle-section .overview .cards .card-item {
  min-height: 165px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 22, 58, 0.2);
  border-radius: 14px;
}
.main-container .middle-section .overview .cards .card-item:nth-child(1) {
  background-color: #4745a4;
  border-radius: 14px;
  border: none;
}
.main-container .middle-section .overview .cards .card-item:nth-child(1) .top .wallet-container {
  border: 1px solid rgba(222, 222, 222, 0.2);
}
.main-container .middle-section .overview .cards .card-item:nth-child(1) hr {
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 10px 0;
}
.main-container .middle-section .overview .cards .card-item:nth-child(1) .balance-label,
.main-container .middle-section .overview .cards .card-item:nth-child(1) .amount {
  color: #fff;
}
.main-container .middle-section .overview .cards .card-item:nth-child(1) .material-symbols-rounded.forward {
  color: #fff;
}
.main-container .middle-section .overview .cards .card-item:nth-child(1) .material-symbols-rounded.right-outward-arrow {
  color: #31d3a3;
  background-color: rgba(49, 211, 163, 0.4);
}
.main-container .middle-section .overview .cards .card-item:nth-child(1) .detail-text {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.6);
}
.main-container .middle-section .overview .cards .card-item:nth-child(2) .material-symbols-rounded.bookmarks {
  color: #3bbb6e;
}
.main-container .middle-section .overview .cards .card-item:nth-child(2) .material-symbols-rounded.right-outward-arrow {
  color: #fe3766;
  background-color: rgba(254, 55, 102, 0.4);
}
.main-container .middle-section .overview .cards .card-item:nth-child(3) .material-symbols-rounded.right-outward-arrow {
  color: #f9ba33;
  background-color: rgba(249, 186, 51, 0.4);
}
.main-container .middle-section .overview .cards .card-item:nth-child(4) .material-symbols-rounded.right-outward-arrow {
  color: #1775e4;
  background-color: rgba(23, 117, 228, 0.4);
}
.main-container .middle-section .overview .cards .card-item .balance-label,
.main-container .middle-section .overview .cards .card-item .amount {
  color: #0d163a;
  font-weight: 500;
}
.main-container .middle-section .overview .cards .card-item .top {
  display: flex;
  align-items: center;
  gap: 9px;
}
.main-container .middle-section .overview .cards .card-item .top .wallet-container {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid rgba(13, 22, 58, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .middle-section .overview .cards .card-item .top .wallet-container .material-symbols-rounded.wallet {
  font-size: 2rem;
  color: #fff;
}
.main-container .middle-section .overview .cards .card-item .top .card-description {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.main-container .middle-section .overview .cards .card-item .top .card-description .balance-label {
  font-size: 1.125rem;
}
.main-container .middle-section .overview .cards .card-item .top .card-description .details {
  display: flex;
  align-items: center;
  gap: 4px;
}
.main-container .middle-section .overview .cards .card-item .top .card-description .details .material-symbols-rounded.right-outward-arrow {
  border-radius: 3px;
  font-size: 0.8rem;
  padding: 1px;
}
.main-container .middle-section .overview .cards .card-item .top .card-description .details .detail-text {
  font-size: 0.75rem;
}
.main-container .middle-section .overview .cards .card-item hr {
  border: 1px solid rgba(13, 22, 58, 0.2);
  margin: 10px 0;
}
.main-container .middle-section .overview .cards .card-item .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-container .middle-section .overview .cards .card-item .bottom .amount {
  font-size: 1.75rem;
}
.main-container .middle-section .saving-plan {
  width: 100%;
  max-width: 405px;
  padding: 16px;
  background-color: #fff;
  border-radius: 14px;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .main-container .middle-section .saving-plan {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .main-container .middle-section .saving-plan {
    max-width: 100%;
  }
}
.main-container .middle-section .saving-plan .plan-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container .middle-section .saving-plan .plan-header .plan-label {
  color: #0d163a;
  font-size: 1.25rem;
  font-weight: bold;
}
.main-container .middle-section .saving-plan .plan-header .see-all {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #4745a4;
}
.main-container .middle-section .saving-plan hr {
  border: 1px solid rgba(13, 22, 58, 0.2);
  margin: 24px 0;
}
.main-container .middle-section .saving-plan .plan-cards {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}
.main-container .middle-section .saving-plan .plan-cards .plans {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.main-container .middle-section .saving-plan .plan-cards .plans:nth-child(1) .percentage {
  color: #4745a4;
  font-weight: 600;
}
.main-container .middle-section .saving-plan .plan-cards .plans:nth-child(1) #percentage {
  height: 8px;
  accent-color: #4745a4;
}
.main-container .middle-section .saving-plan .plan-cards .plans:nth-child(2) .percentage {
  color: #dd9802;
  font-weight: 600;
}
.main-container .middle-section .saving-plan .plan-cards .plans:nth-child(2) #percentage {
  height: 8px;
  accent-color: #dd9802;
  background: none;
}
.main-container .middle-section .saving-plan .plan-cards .plans:nth-child(3) .percentage {
  color: #3bbb6e;
  font-weight: 600;
}
.main-container .middle-section .saving-plan .plan-cards .plans:nth-child(3) #percentage {
  height: 8px;
  accent-color: #3bbb6e;
  background: none;
}
.main-container .middle-section .saving-plan .plan-cards .plans .plan-name {
  display: flex;
  justify-content: space-between;
}
.main-container .middle-section .saving-plan .plan-cards .plans .plan-name .plan-name-label {
  color: #0d163a;
  font-size: 1rem;
}
.main-container .middle-section .saving-plan .plan-cards .plans .plan-name .target {
  color: rgb(102, 112, 133);
  font-size: 0.75rem;
}
.main-container .middle-section .saving-plan .plan-cards .plans .plan-amount {
  display: flex;
  justify-content: space-between;
}
.main-container .middle-section .saving-plan .plan-cards .plans .plan-amount .amount {
  color: #0d163a;
  font-size: 1.25rem;
  font-weight: 600;
}
.main-container .middle-section .saving-plan .plan-cards .plans .plan-amount .amount .divider {
  color: rgb(102, 112, 133);
  font-size: 0.75rem;
}
.main-container .bottom-section {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .main-container .bottom-section {
    flex-direction: column;
    gap: 30px;
  }
}
.main-container .bottom-section .chart-wrapper {
  width: 100%;
  max-width: 717px;
  background-color: #fff;
  border-radius: 14px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .main-container .bottom-section .chart-wrapper {
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .main-container .bottom-section .chart-wrapper {
    height: auto;
    padding: 16px 10px;
  }
}
.main-container .bottom-section .chart-wrapper .chart-header {
  width: 655px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .main-container .bottom-section .chart-wrapper .chart-header {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}
.main-container .bottom-section .chart-wrapper .chart-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.main-container .bottom-section .chart-wrapper .chart-legend {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 14px;
  color: #666;
}
@media (max-width: 768px) {
  .main-container .bottom-section .chart-wrapper .chart-legend {
    width: 100%;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
  }
}
.main-container .bottom-section .chart-wrapper .chart-legend .legend-label {
  display: flex;
  align-items: center;
  gap: 12px;
}
.main-container .bottom-section .chart-wrapper .chart-legend .legend-label .label {
  color: #0d163a;
  font-weight: 500;
}
.main-container .bottom-section .chart-wrapper .chart-legend .legend-label:nth-child(1) .legend-color {
  background-color: #4e73df;
}
.main-container .bottom-section .chart-wrapper .chart-legend .legend-label:nth-child(2) .legend-color {
  background-color: #f9ba33;
}
.main-container .bottom-section .chart-wrapper .chart-legend .legend-label .legend-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
}
.main-container .bottom-section .chart-wrapper .chart-legend .chart-period {
  border: 1px solid rgba(13, 22, 58, 0.2);
  padding: 8px;
  border-radius: 8px;
}
.main-container .bottom-section .chart-wrapper .chart-legend .chart-period select {
  border: none;
  background: none;
  outline: none;
  color: rgb(102, 112, 133);
  font-weight: 400;
  cursor: pointer;
}
.main-container .bottom-section .chart-wrapper .chart-container {
  width: 100%;
  flex: 1;
  min-height: 0;
  position: relative;
  box-sizing: border-box;
}
.main-container .bottom-section .chart-wrapper .chart-container canvas {
  max-width: 100% !important;
}
.main-container .bottom-section .transaction-container {
  width: 100%;
  max-width: 405px;
  padding: 16px;
  background-color: #fff;
  border-radius: 14px;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .main-container .bottom-section .transaction-container {
    max-width: 100%;
  }
}
.main-container .bottom-section .transaction-container .transaction-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container .bottom-section .transaction-container .transaction-header .transaction-label {
  color: #0d163a;
  font-size: 1.25rem;
  font-weight: bold;
}
.main-container .bottom-section .transaction-container .transaction-header .see-all {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #4745a4;
}
.main-container .bottom-section .transaction-container hr {
  border: 1px solid rgba(13, 22, 58, 0.2);
  margin: 24px 0;
}
.main-container .bottom-section .transaction-container .transaction-cards {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 25px;
}
@media (max-width: 768px) {
  .main-container .bottom-section .transaction-container .transaction-cards {
    grid-template-rows: 1fr;
  }
}
.main-container .bottom-section .transaction-container .transaction-cards .transactions {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}
@media (max-width: 576px) {
  .main-container .bottom-section .transaction-container .transaction-cards .transactions {
    gap: 8px;
  }
}
.main-container .bottom-section .transaction-container .transaction-cards .transactions .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.main-container .bottom-section .transaction-container .transaction-cards .transactions .image img {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-container .bottom-section .transaction-container .transaction-cards .transactions .transaction-details {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .main-container .bottom-section .transaction-container .transaction-cards .transactions .transaction-details {
    width: 100%;
    gap: 5px;
  }
}
.main-container .bottom-section .transaction-container .transaction-cards .transactions .transaction-details .transaction-name-amount {
  color: #0d163a;
  font-size: 1.125rem;
  font-weight: 600;
}
.main-container .bottom-section .transaction-container .transaction-cards .transactions .transaction-details .transaction-name {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.main-container .bottom-section .transaction-container .transaction-cards .transactions .transaction-details .transaction-name .date {
  color: rgb(102, 112, 133);
  font-size: 0.75rem;
  font-weight: 600;
}
.main-container .bottom-section .transaction-container .transaction-cards .transactions .transaction-amount-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}/*# sourceMappingURL=style.css.map */